/*******************************
         General
********************************/

body {
  font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
  margin: 0 auto;
  font-weight: normal;
  background-image: url("../imgs/background.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

.wrapper-main {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}



/*******************************
         Colors
********************************/

body {
  color: #017ca1;
}

header {
  background: #10b9ec;
}

.logo h1 {
  color: #017ca1;
}

a {
  color: #0aa4d2;
}

nav a, nav a:visited {
  color: #fff;
}

nav a.selected, nav a:hover {
  color: #017ca1;
}



/*****************************
        Header
******************************/

header {
  float: left;
  margin: 0 0 20px;
  padding: 5px 0 0;
  width: 100%;
  height: 20%;
}

.logo {
  float: left;
  text-align: center;
  margin: 0;
}

.logo h1 {
  margin: 20px 20px 15px;
  font-family: 'Bree Serif', Georgia, serif;;
  font-size: 2.75em;
}




/******************************
        Navigation
********************************/

nav {
  float: right;
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 700;
  font-size: 1.1em;
  padding: 10px;
}



/*********************************
        Footer
*********************************/

footer {
  clear: both;
  padding: 20px 0 30px;
  width: 100%;
}



/*********************************
    Homepage Page
*********************************/
#homepage {
  margin-left: 10%;

}

#homepage h2 {
  font-size: 2em;
  font-weight: 700;
  margin-top: 0;
  padding-top: 40px;
}

#homepage p, li {
  font-size: 1.25em;
  margin-bottom: 10px;
}



/*********************************
      Registration Page
*********************************/
.create-form {
  margin-left: 10%;
}

.create-form h2 {
  font-size: 1.75em;
  margin-top: 0;
}

.create-form ul {
  list-style: none;
  padding: 0;
}

.create-form li {
  font-size: 1.25em;
  margin-bottom: 30px;
}



/*********************************
        Login Page
*********************************/

.login-form {
  margin-left: 10%;
}

.login-form h2 {
  font-size: 2em;
  margin-top: 0;
}

.login-form ul {
  list-style: none;
  padding: 0;
}

.login-form li, p {
  font-size: 1.25em;
  margin-bottom: 30px;
}



/*********************************
        Error Page
*********************************/
.error-page h2 {
  font-size: 2em;
  margin-top: 0;
}



/*********************************
        User Profile Page
*********************************/
.profile h2 {
  font-size: 2em;
  margin-top: 0;
}

.profile ul {
  display: inline-block;
  max-width: 50%;
  border:2px solid;
  padding: 1em;
  margin: 2em;
  list-style-type: none;
  border-radius: 25px;
}


/*********************************
       Decks Index Page
*********************************/

.all-decks h2 {
  font-size: 2em;
  margin-top: 0;
}



/*********************************
     Deck Game Begin Page
*********************************/

.deck-game h2 {
  font-size: 2em;
  margin-top: 0;
}



/*********************************
     Next Card Page
*********************************/

.deck-game-next-card h2 {
  font-size: 2em;
  margin-top: 0;
}


/*********************************
    Flashcard Game Page
*********************************/



/*********************************
    Completed Round Show Page
*********************************/
.show-results h2 {
  font-size: 2em;
  margin-top: 0;
}



