<h2>Create a card in Deck "<%=@deck.name%>"</h2>
<form action='/decks/<%=@deck.id%>/cards/new' method='post'>
    <input type ='hidden' name='card[deck_id]' value=<%=@deck.id%> />
    <ul>
      <li>
        <label for='card[question]'>Question:</label>
        <input type='text' name='card[question]'/>
      </li>
      <li>
        <label for='card[answer]'>Answer:</label>
        <input type='text' name='card[answer]'/>
      </li>
      <li>
        <input type='submit' value='Create this Card' />
      </li>
    </ul>
  </form>

<p>Done creating cards? <a href="/decks/<%=@deck.id%>">Check out your new deck!</a>
