<h2>Welcome to JKU Flashcards</h2>
<p>You can play without logging in, but if you register you can see the stats for each game you play.</p>
<ul>
<li><a href="/decks/index">See All the Decks</a></li>
<li><a href="">Returning User Login</a></li>
<li><a href="">Register for JKU Flashcards</a></li></ul>
