<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <a href="/" class='logo'>
      <h1>JKU Flashcards</h1>
    </a>
    <nav>
      <ul>
        <li><a href="">register</a></li>
        <li><a href="">login</a></li>
        <li><a href="">home</a></li>
      </ul>
    </nav>
  </header>

  <section class='wrapper-main'>
    <%= yield %>
  </section>

  <footer>
  </footer>
</body>
</html>
