 <%if logged_in? %>
 <p>Welcome, <%=current_user.username%>! You are already logged in. Log out?</p>
      <form action='/sessions/logout' method='post'>
        <input type='hidden' name='_method' value='delete'/>
        <input type='submit' value='Yes, log out.' />
      </form>
    <%else%>
      <%if @success%>
      <p>You've successfully created your account!</p>
      <%end%>
      <p>Log me in!</p>
      <form action='/sessions' method='post'>
        <ul class="no_bullets">
          <li><input type='text' name='username' placeholder='username'/></li>
          <li><input type='password' name='password' placeholder='password'></li>
          <li><input type='submit' value='log in' /></li>
      </ul>

      </form>
      <% if !@success %>
      <p>Or <a href="/users/new">create an account on JKU flashcards</a>!
      <% end %>
    <%end%>
